
/ {
	sopc0: sopc@0 {

		hps_0_i2c2: i2c@0xffc06000 {

			ssd1306: oled@3c {
					compatible = "solomon,ssd1306fb-i2c";
					reg = <0x3c>;
					solomon,width = <128>;
					solomon,height = <64>;
					solomon,com-lrremap;
					solomon,com-seq;
					solomon,segment-no-remap;
					solomon,page-offset = <0>;
					solomon,segment-offset = <2>;
					/*solomon,com-invdir;*/
					solomon,com-offset = <1>;
					solomon,lookup-table = /bits/ 8 <0x3f 0x3f 0x3f 0x3f>;
			};
		}; //end i2c@0xffc06000 (hps_0_i2c2)

	}; //end sopc@0 (sopc0)

}; //end /
